{% extends 'base.html.twig' %}


{% block body %}
    
<main id="admin">
<h1 class="h1Titre" >NOS RANDONNEES</h1>
<div class="tableau">

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomRandonnée</th>
                <th>DescriptionRandonée</th>
                <th>Ville</th>
                <th>Durée</th>
                <th>Distance</th>
                <th>HeightHike</th>
                <th>DownHike</th>
                <th>Niveau</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hike in hikes %}
            <tr>
                <td>{{ hike.id }}</td>
                <td>{{ hike.nameHike }}</td>
                <td>{{ hike.descHike }}</td>
                <td>{{ hike.cityHike }}</td>
                <td>{{ hike.timeHike }}</td>
                <td>{{ hike.distHike }}</td>
                <td>{{ hike.heightHike }}</td>
                <td>{{ hike.downHike }}</td>
                <td>{{ hike.difficultyHike }}</td>
                <td>
                    <a href="{{ path('app_admin_show', {'id': hike.id}) }}">Montrer</a>
                    <a href="{{ path('app_admin_edit', {'id': hike.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div> 
<a id="creation" href="{{ path('app_admin_new') }}">Nouvelle randonnée</a>  
</main>
    
{% endblock %}
