{% extends 'base.html.twig' %}

{% block title %}New Hike{% endblock %}

{% block body %}
<main id="mainNewHike">
 <h1 class="h1Titre">Ajouter une nouvelle randonnée</h1>
    <div id="containerNewHike">
        <div id="newHike">
         
       
           
        
            {{ form_start(form) }}
                <div id="formNewR">
                    {{ form_errors(form) }}

                    {{ form_row(form.nameHike, {'attr': {'class': 'form-field','placeholder': 'Nom de la randonée','id': 'nomNewRando'}, 'label': false }) }}
                    {{ form_row(form.descHike, { 'attr': {'class': 'form-field','placeholder': 'Description','id': 'descNewRando'}, 'label': false }) }}
                    {{ form_row(form.cityHike, { 'attr': {'class': 'form-field','placeholder': 'Ville','id': 'villeNewRando'}, 'label': false }) }}
                    {{ form_row(form.timeHike, {'attr': {'class': 'form-field','placeholder': 'Temps','id': 'dureeNewRando'}, 'label': false }) }}
                    {{ form_row(form.distHike, {'attr': {'class': 'form-field','placeholder': 'Distance','id': 'distanceNewRando'}, 'label': false }) }}
                    {{ form_row(form.heightHike, {'attr': {'class': 'form-field','placeholder': 'Dénivelé haut','id': 'denivelePositifNewRando'}, 'label': false }) }}
                    {{ form_row(form.downHike, {'attr': {'class': 'form-field','placeholder': 'Dénivelé bas','id': 'deniveleNegatifNewRando'}, 'label': false }) }}
                    {{ form_row(form.difficultyHike, {'attr': {'class': 'form-field','placeholder': 'Difficulté de la randonée','id': 'difficulteNewRando'}, 'label': false }) }}

                    <div id='btnNewRando'> <button type="submit" class="btn" id="btnsEnregNew" size="40">Enregistrer</button></div> 
                    
                </div>
            {{ form_end(form) }}
        </div>
    </div>
    
</main>
{% endblock %}