{% extends 'base.html.twig' %}

{% block title %}New Hike{% endblock %}

{% block body %}
<main id="mainNewHike">
    <div id="containerNewHike">
        <div id="newHike">
            <h1 class="h1Titre">Ajouter une nouvelle randonnée</h1>

            {{ form_start(form) }}
                <div id="formNewR">
                    {{ form_errors(form) }}

                    {{ form_row(form.nameHike, {'attr': {'id': 'nomNewRando'} }) }}
                    {{ form_row(form.descHike, { 'attr': {'id': 'descNewRando'} }) }}
                    {{ form_row(form.cityHike, { 'attr': {'id': 'villeNewRando'} }) }}
                    {{ form_row(form.timeHike, {'attr': {'id': 'dureeNewRando'} }) }}
                    {{ form_row(form.distHike, {'attr': {'id': 'distanceNewRando'} }) }}
                    {{ form_row(form.heightHike, {'attr': {'id': 'denivelePositifNewRando'} }) }}
                    {{ form_row(form.downHike, {'attr': {'id': 'deniveleNegatifNewRando'} }) }}
                    {{ form_row(form.difficultyHike, {'attr': {'id': 'difficulteNewRando'} }) }}

                    <button type="submit" class="btn" id="btnsEnregNew" size="40">Enregistrer</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
   
</main>
{% endblock %}